<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">List phases</h1>
		</div>
		<!-- /.col-lg-12 -->
	</div>
	<!-- /.row -->
	<div class="col-lg-3">
	<label>Recherche par projet</label> <select ng-model="idProjet"
		class="form-control">
		<option ng-value=""></option>
		<option ng-repeat="x in projets" ng-value="x.idProjet">{{x.idProjet}}
		</option>
	</select>
	<br />
	<br />
	</div> 
	<table class="table table-bordered" width="100%" id="dataTable"
		cellspacing="0">
		<thead>
			<tr>
				<th>Id projet</th>
				<th>Phase</th>
				<th>Date debut</th>
				<th>Date fin</th>
				<th>Date solde</th>
				<th>Options</th>


			</tr>
		</thead>

		<tbody>
			<tr ng-repeat="item in phases| filter:idProjet">
				<td>{{item.projet.idProjet}}</td>
				<td>{{item.phase}}</td>
				<td>{{item.dateDebut| date}}</td>
				<td>{{item.dateFin | date}}</td>
				<td>{{item.dateSoldePhase | date}}</td>

				<td><button type="submit" class="btn btn-primary btn-block"
						ui-sref="detailProjet({id:item.idbd})">
						<i class="fa fa-search  " aria-hidden="true"></i> Consulter
					</button></td>
			</tr>
		</tbody>
	</table>


</div>